.sideline {
  float: left;
  margin: 10px -15px 10px 10px;
}

div {
  border: 3px solid red;
}
div.img {
  border: 3px solid green;
  background-color: aqua;
  float: left;
}
p.box {
  border: 1px solid gray;
  background: hsl(117, 50%, 80%);
  padding: 0.5em;
}

p.box strong {
  border: 3px double;
  background: hsl(215, 100%, 80%);
  padding: 2px;
}

h2#jump-up {
  margin-top: -25px;
  background: hsl(42, 70%, 70%);
}