header {
  background: goldenrod;

}

h1 {
  margin: 1em;
}


div {
  box-sizing: border-box;
  padding: 10px 0;
  
  background: goldenrod;
  width: 300px;
  margin: 0 auto;
}

p {
  margin: 1em;
}

p.punch {
  background: white;
  margin: 1em -0.2px 1em 25%;
  border: 1px solid;
  border-right: none;
  text-align: center;
}

p.mond {
  background: rgba(5, 5, 5, 0.5);
  color: white;
  margin: 0 3em 0 -3em;
}