/* 
1- SELETORES DESCENDENTES 
*/
/* QUALQUER ELEMENTO "EM" QUE É DESCENDENTE DE H1 IRÁ RECEBER O ESTILO */

h1 em {color: gray;}
ul li em {color: red;}

/* QUALQUER SPAN QUE FOR DESCENDENTE DE UMA DIV QUE NÃO TIVE A CLASS HELP */
div:not(.help) span {color: gray;}
div.help span {color: red;}


/* SELECTION CHILDREN */
/* COM O ">" NOS DEIXAMOS DE SELECIONAR QUALQUER DESCENDETER E PASSAMOS A SELECIONAR O CHILDREN */
/* "CHILDREN" SÃO OS ELEMENTOS QUE VEM LOGO ABAIXO DE UM PRIMEIRO ELEMENTO, QUALQUER ELEMENTO ABAIXO É CONSIDERO
SOMENTE "DESCENDENTE"
*/

/* QUALQUER ELEMENTO STRONG QUE SEJA CHILDREN DO ELEMENTO H1 */
h1 > strong {color: red;}

/* PODEMOS COMBINAR DESCENDENTES E CHILD */

/* QUALQUER ELEMENT P QUE FOR CHILDREN DO TD E TD QUE FOR DESCENDENTE DE TABLE COM CLASS ATRB "summary" */
table.summary td > p {
  /* STYLE GO HERE */
}

/* ELEMENTOS IRMAOS ADJASCENTES */
/* TODO ELEMENT H1 QUE ESTIVER LOGO EM SEGUIDA DE UM H1 */
h1 + h1 {
 
  background-color: rgba(29, 127, 207, 0.829);
}

/* TODO UL QUE ESTIVER LOGO EM SEGUINDA DE UMA TABLE DESCENDENTE DE UM BODY CHILDREN DE UM HTML */
html > body table + ul{
  /* STYLE GO HERE */

}


/* ELEMENTOS IRMAO SEGUIDOS */
/* QUALQUER H1 QUE ESTIVER SEGUIDO DE OUTRO H1 DENTRO DE UM DETERIMINADO PARENT */
h1 ~ h1 {
  display: block;
  color: green
}